//output:../contact.html, pretty:false
doctype html
html
    head
        title Contact

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet")
        link(rel="stylesheet", href="src/bootstrap.css")
        link(rel="stylesheet", href="style.min.css")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="parallax.min.js")
        script(src="script.js")

    body#body

        .navloc
        script(type="text/javascript").
            $('.navloc').load('global/nav.html');

        .header.contact
            .col-md-3.col-md-offset-1.high-buffer-top.contact-info
                h1 Contact
                h5 Inge Lehmanns Gade 10, 8000 Aarhus
                h5 +451356123
                h5 vertigo@vr.com
            .col-md-6.map
                iframe(width='100%', height='600px', frameborder='0',
                    style='border:0',             src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2221.9082947888114!2d10.213350416274219!3d56.15869018066386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c3f977bc3fd75%3A0xe30bcbd29d396998!2sInge+Lehmanns+Gade+10%2C+8000+Aarhus+C%2C+Tanska!5e0!3m2!1sfi!2sfi!4v1488171602340', allowfullscreen='')
