//output:../index.html, pretty:false
doctype html
html
    head
        title Vertigo VR

        link(rel="icon" href="img/icon.png")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet")

        link(rel="stylesheet", href="src/bootstrap.css")
        link(rel="stylesheet", href="style.min.css")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="js/parallax.min.js")
        script(src="js/script.js")

    body#body
        .navloc
        script(type="text/javascript").
            $('.navloc').load('global/nav.html');

        section.header.h-1(style="color: white")

        section.desc
            .col-md-10.col-md-offset-1.
                Vi er to ingeniørstuderende, 
                som med dybere indsigt i virtual reality kan bidrage 
                til at styrke jeres præsentationer på spændende vis. 
                Med baggrund i ingeniørstudierne kan vi omsætte jeres 
                ideer til billeder og grafik og via virtual reality 
                tilbyde at kunne gå rundt i den virtuelle virkelighed 
                af din idé... 
                
                #[br]#[br] Vores leg og udforskning med den sidste 
                nye teknologi, kan nu komme dig og dine kunder til gode, 
                ved at vi udformer dine idéer til næsten fysisk virkelighed. 
                Vi bestræber os på at dække dine ønsker og behov løbende 
                efter ønske. Hos Vertigo er du sikker på at få en service 
                der er skræddersyet til det DU mener kan have værdi for 
                din kunde, uanset om det er mindre eller mere avancerede 
                visualiseringer. Din kunde er i centrum! 
                
                #[br]#[br] Kontakt os for en 
                uforpligtende fremvisning, og en snak om hvordan VR-teknologi 
                kan bruges i din virksomhed. 

        section.header.h-2(style="color: white")

        .footloc
        script(type="text/javascript").
            $('.footloc').load('global/footer.html');
