//output:../index.html, pretty:false
doctype html
html
    head
        title Vertigo VR

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet")
        link(rel="stylesheet", href="src/bootstrap.css")
        link(rel="stylesheet", href="style.min.css")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="parallax.min.js")
        script(src="script.js")


    body#body
        .navigator
            .container-fluid
                table
                    tr
                        th#nav-brand
                            a#nav-brand-name(href="#")
                                img(src="img/logo.png" alt="Vertigo")
                        th#first-link
                            a(href="#") Kontakt
                            img.navigator-menu(src="img/menu.png")
                        th
                            a(href="#") Tjenester
                        th
                            a(href="#") Portefølje
                        th.nav-active
                            a(href="#")
                                span(style="color: #ff6f00") H
                                span jem
                .dropdown
                    a(href="#")
                        .dropdown-link
                            div Hjem
                    a(href="#")
                        .dropdown-link
                            div Portefølje
                    a(href="#")
                        .dropdown-link
                            div Tjenester
                    a(href="#")
                        .dropdown-link
                            div Kontakt

        section.header.h-1(style="color: white")
            .row-fluid
                .col-lg-1
                .col-lg-4.header-logo
                    img(src="img/logowithslog.png" alt="Vertigo | VR To Go")
                .col-lg-6
                    .header-info
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        section.examples
            .col-md-4
                img(src="img/examples/hexample.png")
            .col-md-4
                img(src="img/examples/hexample.png")
            .col-md-4
                img(src="img/examples/hexample.png")
            .row.margin-top
                .col-md-10.col-md-offset-1.buffer-top.examples-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        section.header.h-2
