//output:../index.html, pretty:false
doctype html
html
    head
        title Vertigo VR

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet")
        link(rel="stylesheet", href="src/bootstrap.css")
        link(rel="stylesheet", href="style.min.css")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="parallax.min.js")
        script(src="script.js")

    body#body

        .navloc
        script(type="text/javascript").
            $('.navloc').load('global/nav.html');

        section.header.h-1(style="color: white")
            .row-fluid
                .col-md-12.header-logo
                    img(src="img/adjectives.svg" alt="Vertigo | VR To Go")

        section.examples
            .col-md-4
                img(src="img/examples/hexample.png")
            .col-md-4
                img(src="img/examples/hexample.png")
            .col-md-4
                img(src="img/examples/hexample.png")
            .row.margin-top
                .col-md-10.col-md-offset-1.buffer-top.examples-description.
                    Hos Vertigo konverterer vi CAD-modeller til en virtual reality oplevelse, og leverer den færdige VR-pakkeløsning. Vi opererer fra vores kontor i Aarhus. At illustrere modeller i virtual reality er den naturlige udvikling i præsentationen af design og produkter.
        section.header.h-2
        section.bio
            .col-md-12
                .col-md-6.col-md-offset-3
                    h1 Om Virtual Reality
                    p.
                        Virtual reality giver selv personer, som ikke er vant til at arbejde i CAD-programmer, en intuitiv forståelse af komplicerede 3D-geometrier, og sikrer at alle parter er på samme side, allerede før prototype-stadiet. Ny teknologi er altid godt til at skabe opmærksomhed, og viser at din virksomhed benytter sig af den nyeste teknologi. Kontakt os for en uforpligtende fremvisning, og en snak om hvordan VR-teknologi kan bruges i din virksomhed.

        .footloc
        script(type="text/javascript").
            $('.footloc').load('global/footer.html');
