//output:../portfolio.html, pretty:false
doctype html
html
    head
        title Portfolio

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet")

        link(rel="stylesheet", href="src/bootstrap.css")
        link(rel="stylesheet", href="style.min.css")

        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="js/parallax.min.js")
        script(src="js/script.js")
        script(src="js/typed.js")

    body#body

        .navloc
        script(type="text/javascript").
            $('.navloc').load('global/nav.html');

        .footloc
        script(type="text/javascript").
            $('.footloc').load('global/footer.html');
