//output:../services.html, pretty:false
doctype html
html
    head
        title Services

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet")
        link(rel="stylesheet", href="src/bootstrap.css")
        link(rel="stylesheet", href="style.min.css")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="js/parallax.min.js")
        script(src="js/script.js")
        script(src="js/typed.js")

    body#body

        .navloc
            script(type="text/javascript").
                $('.navloc').load('global/nav.html');

        section.header.services.h-3
            .row
                .col-md-4
                    img.services-logo(src="img/logodark.svg")
            .row
                .col-md-4
                    p.
                        Hos Vertigo konverterer vi CAD-modeller til en færdig virtual reality oplevelse. #[br]

                        VR kan bruges til at visualisere arkitekters visioner for deres kunder, og sikrer at arkitekt og kunde er på samme side. #[br]

                        En person opslugt i virtual reality tiltrækker utvivlsomt et publikum. Derfor er det en sikker vinder at have VR-briller med til eksempelvis en messe. #[br]

                        Har du en ide til hvordan VR kan udnyttes i  din virksomhed? Kontakt os, få en snak og eventuelt en demonstration. #[br]

        .footloc
        script(type="text/javascript").
            $('.footloc').load('global/footer.html');
