@font-face
    font-family: "Clear Sans"
    src: url("clearsans.woff")

html, body
    text-align: left
    font-family: 'Clear Sans', 'Roboto', sans-serif
    margin: 0
    overflow-x: hidden
body:nth-child(2)
    margin-top: 60px
@media screen and (max-width: 500px)
    body
        font-size: 20px

@media screen and (max-width: 350px)
    body
        font-size: 18px

*:not(.dropdown)
    transition: height 0.5s ease-in-out

// Global
.navigator
    $navcolor: #002F41
    $navselectcolor: darken($navcolor, 7%)

    position: fixed
    top: 0%
    width: 100%
    height: 60px
    background-color: $navcolor
    color: white
    box-shadow: 0 0px 10px 5px rgba(0,0,0,0.5)
    font-size: 18px
    z-index: 1
    .container-fluid
        height: 100%
        padding: 0
        table
            height: 100%
            width: 97.5%
            border-collapse: collapse
            border-spacing: 0
            table-layout: fixed
            tr
                height: 100%
                th
                    height: 100%
                    width: 100px
                    table-layout: fixed
                    position: relative
                    text-align: center
                    a
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)

                        width: 100%

                        display: block
                        text-decoration: none
                        color: white
                        font-weight: 300
                .nav-active
                    background-color: $navselectcolor
                    box-shadow: inset 0 -2px 0 0px #ff6f00
                .nav-active
                    a
                        span
                            display: block
                        span::first-letter
                            color: #ff8f09

                th:not(#nav-brand)
                    float: right
                th:not(#nav-brand):hover
                    background-color: $navselectcolor

                .first-link
                    margin-right: 5%

                #nav-brand
                    margin-left: 5%
                    float: left
                    #nav-brand-name
                        font-size: 30px
                        font-weight: 500
                        img
                            width: 200px
                            height: 40px
                            margin-top: 10px
                            margin-bottom: 6px

                .navigator-menu
                    display: none
                    width: 35px
                    position: relative
                    top: 50%
                    transform: translateY(-50%)

                @media screen and (max-width: 760px)
                    th:not(.first-link):not(#nav-brand)
                        display: none
                    .first-link
                        cursor: pointer
                        a
                            display: none
                        .navigator-menu
                            display: inline

        .dropdown
            display: none
            width: 350px
            height: 320px
            float: right
            background-color: $navcolor
            border-left: 1px solid rgba(175, 175, 175, 0.75)
            a:hover
                text-decoration: none
            .dropdown-link
                border-bottom: 1px solid rgba(175, 175, 175, 0.75)
                height: 80px
                width: 100%
                font-size: 24px
                font-weight: bold
                font-variant: small-caps
                text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5)
                padding-left: 25px
                div
                    color: white
                    position: relative
                    top: 50%
                    transform: translateY(-50%)

        @media screen and (min-width: 760px)
            .dropdown
                display: none

        @media screen and (max-width: 760px)
            table
                width: 100%

.footer
    background-color: #002f41
    .footer-container
        background-color: #002f41
        & > *
            color: white
            background-color: #002f41
            h1
                padding-top: 48px
                margin-top: 0
                font-variant: small-caps
                font-size: 78px
            h4
                margin-bottom: 1px
                font-size: 30px
                .contact-title
                    font-weight: bold
                span:not(.contact-title)
                    font-weight: lighter
            h3
                font-size: 34px
                padding-top: 10px
                padding-bottom: 24px
                font-weight: bold
                a
                    font-style: italic

@media screen and (max-width: 650px)
    .footer
        text-align: center
        .footer-container
            & > *
                h1
                    font-size: 64px
                h4
                    font-size: 24px

.header
    background: transparent
    min-height: 700px
    position: relative
    box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.25)

@media screen and (max-width: 991px)
    p
        padding: 0 75px


// ============** HOME **============ //
.header
    .header-info
        font-variant: small-caps
        font-size: 28px
        background-color: rgba(0, 0, 0, 0.65)
        color: white
        outline: 2px solid rgba(0, 0, 0, 0.65)
        outline-offset: 10px
        padding: 16px
        p
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
            display: inline
            vertical-align: middle
@media screen and (max-width: 555px)
    .header
        min-height: 450px

.desc
    min-height: 475px
    position: relative
    padding: 0 44px
    background-color: white
    box-shadow: 0px 13px 25px -5px rgba(0,0,0,0.25)
    & > *
        position: absolute
        top: 50%
        transform: translateY(-50%)

@media screen and (max-width: 1420px)
    .desc
        min-height: 630px

@media screen and (max-width: 850px)
    .desc
        min-height: 1030px
        text-align: center
        & > *
            width: 85%

@media screen and (max-width: 650px)
    .desc
        padding: 0
        min-height: 900px
        & > *
            width: 100%
            padding: 0 25px
@media screen and (max-width: 350px)
    .desc
        min-height: 820px

// ============** CONTACT **============ //
.contact
    background-color: darkorange
    color: white
    min-height: 600px
    .contact-info
        h1
            margin-bottom: 50px
        *:not(h1)
            margin-top: 30px
        div
            margin-top: 0
        .linkdin
            width: 50px
            margin: 0
            vertical-align: middle
        .contact-brahe
            display: inline-block
            font-size: 32px
            vertical-align: bottom
            margin-left: 10px
    .map
        padding: 0
        float: right
        height: 600px

@media screen and (max-width: 1000px)
    .contact
        .map
            float: none
@media screen and (max-width: 992px)
    .contact
        .col-md-3
            div
                text-align: center
                padding-bottom: 50px
                h1
                    font-size: 80px
                    margin-bottom: 30px
                h5
                    margin-top: 20px

// ============** PORTFOLIO **============ //
.portfolio
    position: relative
    & > *
        position: absolute
        top: 50%
        transform: translateY(-50%)
        h1
            margin: 0 200px
            color: white
            font-weight: bold

@media screen and (max-width: 650px)
    .portfolio
        text-align: center
        width: 100%
        & > *
            width: 100%
            margin: 0
            padding: 0 50px
            h1
                width: 100%
                margin: 0
                padding: 0 50px

// Modifiers
.buffer-top
    margin-top: 25px

.med-buffer-top
    margin-top: 50px

.high-buffer-top
    margin-top: 75px

.high-buffer-bottom
    margin-bottom: 75px

.high-padding-top
    padding-top: 50px

.small
    font-size: 20px
